body{
    background-color: ghostwhite;
    color: black;
}
*{
    margin: 10px 2px;
}
h1{
    margin: 10px;
}
fieldset{
    margin: 10px;
    border-radius: 5px;
}
input{
    border-radius: 5px;
    padding: 10px;
    background-color: aliceblue;
    border-color: rgb(202, 212, 221);
}
button{
    padding: 4px;
    font-size: 120%;
    border-radius: 5px;
    border: none;
    background-color: blanchedalmond;
}